* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: rgb(238, 238, 238);
    background-color: #25253a;
}

nav {
    background-color: rgb(0,0,0);
    color: white;
    display: flex;
    justify-content: space-between;
}

h3 {
    font-size: 2.3em;
    font-weight: bolder;
    text-decoration: underline;
}


/**FOOTER THAT WILL BE APPLIED FOR EACH PAGE**/
footer {
    background-color: #000000;
    color: white;
    border-top: 1px solid rgb(49, 49, 49);
}

.footer-container {
    width: 100%;
    padding: 2%;
}

.socials-icons {
    display: flex;
    justify-content: center;
}

.socials-icons a {
    text-decoration: none;
    padding: 0.5%;
    background-color: white;
    margin: 2%;
    border-radius: 40%;
    color: black;
}

.socials-icons a i {
    font-size: 1.7em;
}

.socials-icons a:hover {
    background-color: black;
    color: white;
    transition: 0.2s ease-in-out;
}

.footer-bottom {
    padding: 1% 0;
}

.footer-bottom ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.footer-bottom ul li a {
    color: white;
    text-decoration: none;
    margin: 2em;
}

@media only screen and (max-width: 750px) {

    .footer-bottom ul {
        margin-top: 5%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-bottom ul li {
        margin: 4%;
    }

}



/*MENU WHEN USER PRESSES HAMBURGER MENU*/
/*FOR MOBILE DEVICES / SMALLER SCREENS*/
nav .mainMenu {
    list-style: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #25253a;
    transition: top 1.3s ease;
    display: none; 
}

nav .mainMenu li {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 10%;
    /* margin: 2%; */
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 2em;

}

nav .mainMenu li a:hover {
    background-color: #464f66;
    transition: 0.8s;
}

nav .openMenu {
    font-size: 1.2em;
    margin: 20px;
    display: inline-block;
    cursor: pointer;
}

nav .mainMenu .closeMenu, .icons i {
    font-size: 2em;
    display: block;
    cursor: pointer;
}

nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
}

/*******FOR INDEX.HTML******/ /*******FOR INDEX.HTML******/ /*******FOR INDEX.HTML******/ 

#after-intro-button1, #after-intro-button2 {
    background-color: #d9e1ea;
    color: rgb(0, 0, 0);
    overflow: visible;
    border: 1px solid rgba(11, 11, 11, 0.57);
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 2%;
    margin-left: 2%; 
    padding: 1.2em 5em;
    cursor: pointer;
    border-radius: 8px;
}

/* #after-intro-button1 a, #after-intro-button2 a {
    color: rgb(0, 0, 0);
} */

#after-intro-button1:hover, #after-intro-button2:hover {
    border: 1px solid rgb(255, 255, 255);
    transition: 0.5s ease;
    background-color: #9ca1a7;
} 

.homepage-main::after,
.homepage-main::before {
    position: absolute;
    content: '';
    width: 140px;
    height: 40px;
    background-color: #25253a;
    bottom: -5em;
}

.homepage-main::before {
    right: 50%;
    transform: skew(0, 20deg);
    z-index: 5;
}

.homepage-main::after {
    left: 50%;
    transform: skew(0, -20deg);
} 

.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    gap: 5em;
    padding: 30px 12% 0;
}

.home-content {
    max-width: 800px;
    padding: 2%;
}

.home-content h2 {
    font-size: 2.5em;
}

.home-content h1 {
    font-size: 4em;
    line-height: 1.2;
}

.home-content p {
    font-size: 1.9em;
    margin: 25px 0 30px;
}

.image-box img {
    width: 520px;
    margin-left: 10%;
    clip-path: polygon(0px 100px, 100% 0, 100% 100%, 0 100%);
}

.about {
    background-color: #13131e;
    padding: 5% 8%;
    gap: 8em;
    font-size: 1.2em;
    line-height: 1.5;
}

.about-content { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scale: 1; 
    opacity: 1; 
}

@keyframes fade-in {
    to { scale: .95; opacity: 1}
} 


.about-content h2 {
    text-align: center;
    color: white;
    font-size: 3em;
    margin-bottom: 2%;
}

.about-content p {
    margin: 2em;
    letter-spacing: 1px;
}

#about-button {
    background-color: #d9e1ea;
    color: rgb(0, 0, 0);
    overflow: visible;
    border: 1px solid rgba(11, 11, 11, 0.57);
    font-weight: 400;
    letter-spacing: 1px;
    margin-left: 2%; 
    padding: 1.5em 7em;
    cursor: pointer;
    border-radius: 8px;
}

#about-button a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#about-button:hover {
    border: 1px solid rgb(255, 255, 255);
    transition: 0.5s ease;
    background-color: #9ca1a7;
}


/*******FOR ABOUT.HTML******/ /*******FOR ABOUT.HTML******/ /*******FOR ABOUT.HTML******/ 

.skills {
    display: flex;
    text-align: left;
    gap: 5em;
    padding: 1%;
}

.skills ul {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    opacity: 0.8;
    align-items: baseline;
    color: white;
}

.skills ul li {
    display: flex;
    gap: 0.5em;
    font-size: 1em;
    transition: 0.3s ease-in-out;
}

.skills ul li:hover {
    transform: translateX(10px);
}


/*******FOR PROJECTS.HTML******/ /*******FOR PROJECTS.HTML******/ /*******FOR PROJECTS.HTML******/


#projects-header h3 {
    margin: 1em;
    text-align: center;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(800px, 500px));
    column-gap: 15px;
    row-gap: 20px;
    justify-content: center;
    margin-bottom: 2%;
}

.portfolio-item {
    cursor: auto;
}

.portfolio-item .portfolio-item-text {
    background-color: rgb(255, 255, 255);
    padding: 1%;
    border-radius: 0px 0px 15px 15px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    letter-spacing: 1px;
}

.portfolio-image {
    width: 800px;
    height: 430px;
    object-fit: cover;
    object-position: center;
}

/*******FOR SKILLS.HTML******/ /*******FOR SKILLS.HTML******/ /*******FOR SKILLS.HTML******/

.services {
    padding: 5em 0 2.5em 0;
}

.services .title { 
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 2%;
}

.services .row {
    display: flex;
    flex-wrap: wrap;
}

.services .item {
    text-align: center;
    padding: 1.5em 0 3em 0;
    background-color: #151521;
    margin: 1.5em 0;
    flex: 0 0 calc(50% - 2em);
    margin: 1em;
}

.services .item span {
    font-size: 5em;
}

.services .item h2 {
    letter-spacing: 2px;
    position: relative;
    text-transform: uppercase;
}

.services .item:hover {
    background-color: #08080c;
    transition: 0.2s ease-in;
}

.row ul {
    list-style-type: none;
}

.row ul li {
    padding: 1%;
}


/*******FOR CONTACT.HTML******/ /*******FOR CONTACT.HTML******/ /*******FOR CONTACT.HTML******/

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2em;
    background-color: #25253a;
    overflow: hidden;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 920px;
    border-radius: 10px;
    z-index: 0; 
}

.contact-info {
    background-color: rgb(24, 24, 24);
    position: relative;
    padding: 2.5em;
}

.contact-info h3 {
    text-align: center;
}

.contact-info .text {
    margin: 1em 0 1.2em 0;
    text-align: center;
}

.contact-info .information {
    display: flex;
    align-items: center;
    color: white;
    margin: 1em;
}

.contact-form {
    background-color: rgb(24, 24, 24);
}

.contact-form h3 {
    text-align: center;
}

form {
    padding: 3%;
    z-index: 2;
    overflow: hidden;
    position: relative;
    color: white;
}

.input-container {
    position: relative;
    margin: 3%;
}

.input {
    width: 100%;
    padding: 2.5% 1.4%;
    border: 2px solid white;
    background-color: transparent;
    outline: none;
    letter-spacing: 0.5px;
    border-radius: 10px;
    color: white;
}

.input:focus {
    /* background-color: rgb(108, 108, 108); */
    border: 2px solid rgb(74, 146, 255);
    transition: 0.2s ease-in-out;
}

textarea {
    padding: 1%;
    min-height: 160px;
    border-radius: 20px;
    resize: none;
    overflow-y: none;
}

.submit-btn {
    padding: 0.6em 1.4em;
    background-color: transparent;
    color: white;
    overflow: visible;
    border: 2px solid rgb(255, 255, 255);
    letter-spacing: 1px;
    margin-left: 3%; 
    padding: 1.5em 7em;
    cursor: pointer;
    border-radius: 8px;
}

.submit-btn:hover {
    transition: 0.5s ease;
    background-color: #9ca1a7;
}

.icon {
    font-size: 2.1em;
    margin-right: 0.3em;
}
