* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: rgb(238, 238, 238);
    background-color: #25253a;
}

nav {
    background-color: rgb(0,0,0);
    color: white;
    display: flex;
    justify-content: space-between;
}

h3 {
    font-size: 2em;
    font-weight: bolder;
    border-bottom: 1px solid white;
}

/*MENU WHEN USER PRESSES HAMBURGER MENU*/
/*FOR MOBILE DEVICES / SMALLER SCREENS*/
nav .mainMenu {
    list-style: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #25253a;
    transition: top 1.3s ease;
    display: none; 
}

nav .mainMenu li {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 10%;
    /* margin: 2%; */
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 2em;
    /* border: 1px solid white;  */
}

nav .mainMenu li a:hover {
    background-color: #464f66;
    transition: 0.8s;
}

nav .openMenu {
    font-size: 1.2em;
    margin: 20px;
    display: inline-block;
    cursor: pointer;
}

nav .mainMenu .closeMenu, .icons i {
    font-size: 2em;
    display: block;
    cursor: pointer;
}

nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
}

/*******FOR INDEX.HTML******/ /*******FOR INDEX.HTML******/ /*******FOR INDEX.HTML******/ 

/* #intro-container {
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* min-width: 300vh; 
    
}

#intro {
    /* display: none; 
    position: absolute; 
    left: 3%;
    top: 35%;  
    width: 45%; 
    padding: 1%;
    /* min-width: 100vh; 
    background-color: red;
}

#intro h2 {
    font-size: 2.2em;
    color: white;
    text-shadow: 1px 1px 2px black;
}

hr {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 45%;
    margin-left: 25%;
}

#intro p {
    color: rgb(224,224,244);
    margin-top: 2%;
    text-shadow: 1px 1px 2px black;
}*/

#after-intro-button1, #after-intro-button2 {
    background-color: #d9e1ea;
    color: white;
    overflow: visible;
    border: 1px solid rgba(11, 11, 11, 0.57);
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 2%;
    margin-left: 2%; 
    padding: 1.2em 5em;
    cursor: pointer;
    border-radius: 8px;
}

#after-intro-button1 a, #after-intro-button2 a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#after-intro-button1:hover, #after-intro-button2:hover {
    border: 1px solid rgb(255, 255, 255);
    transition: 0.5s ease;
    background-color: #9ca1a7;
} 


.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    gap: 5em;
    padding: 30px 12% 0;
}

.home-content {
    max-width: 800px;
    padding: 2%;
}

.home-content h2 {
    font-size: 2.5em;
}

.home-content h1 {
    font-size: 4em;
    line-height: 1.2;
}

.home-content p {
    font-size: 1.9em;
    margin: 25px 0 30px;
}

.image-box img {
    width: 520px;
    margin-left: 10%;
    border-radius: 35%;
}

.about {
    background-color: #13131e;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 5% 8%;
    gap: 8em;
    font-size: 1.2em;
    border-top: 3px solid #b7d2ff;
}

.about-content { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scale: 1; 
    opacity: 1; 
    /* animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 20px 300px; */
}

@keyframes fade-in {
    to { scale: .95; opacity: 1}
} 


.about-content h2 {
    text-align: center;
    color: white;
    font-size: 3em;
    margin-bottom: 2%;
}

.about-content p {
    margin: 2em;
    letter-spacing: 1px;
}

#about-button {
    background-color: #d9e1ea;
    color: white;
    overflow: visible;
    border: 1px solid rgba(11, 11, 11, 0.57);
    font-weight: 400;
    letter-spacing: 1px;
    margin-left: 2%; 
    padding: 1.5em 7em;
    cursor: pointer;
    border-radius: 8px;
}

#about-button a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#about-button:hover {
    border: 1px solid rgb(255, 255, 255);
    transition: 0.5s ease;
    background-color: #9ca1a7;
}


/*******FOR ABOUT.HTML******/ /*******FOR ABOUT.HTML******/ /*******FOR ABOUT.HTML******/ 

.skills {
    display: flex;
    text-align: left;
    gap: 5em;
    padding: 1%;
}

.skills ul {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    opacity: 0.8;
    align-items: baseline;
    color: white;
}

.skills ul li {
    display: flex;
    gap: 0.5em;
    font-size: 1em;
    transition: 0.3s ease-in-out;
}

.skills ul li:hover {
    transform: translateX(10px);
}

/*******FOR PROJECTS.HTML******/ /*******FOR PROJECTS.HTML******/ /*******FOR PROJECTS.HTML******/