* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: rgb(109, 109, 109);
    background-color: rgb(235, 235, 235);
}

nav {
    background-color: rgb(0,0,0);
    color: white;
    display: flex;
    justify-content: space-between;
}

/*MENU WHEN USER PRESSES HAMBURGER MENU*/
/*FOR MOBILE DEVICES / SMALLER SCREENS*/
nav .mainMenu {
    list-style: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 23, 34);
    transition: top 1.3s ease;
    display: none; 
}

nav .mainMenu li a {
    display: inline-block;
    padding: 1.5%;
    margin: 1%;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.5em;
    border: 1px solid white;
}

nav .mainMenu li a:hover {
    background-color: #464f66;
    transition: 0.8s;
}

nav .openMenu {
    font-size: 1.2em;
    margin: 20px;
    display: inline-block;
    cursor: pointer;
}

nav .mainMenu .closeMenu, .icons i {
    font-size: 2em;
    display: block;
    cursor: pointer;
}

nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
}

/*******FOR INDEX.HTML******/

#intro {
    /* display: none; */
    position: absolute;
    left: 2%;
    top: 35%;
    width: 45%;
}

#intro h2 {
    font-size: 2.2em;
    color: white;
    text-shadow: 1px 1px 2px black;
}

hr {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 45%;
    margin-left: 25%;
}

#intro p {
    color: rgb(224,224,244);
    margin-top: 2%;
    text-shadow: 1px 1px 2px black;
}

#after-intro-button1, #after-intro-button2 {
    background-color: rgb(13, 13, 124);
    color: white;
    overflow: visible;
    border: 1px solid rgba(238,232,255,0.57);
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 2%;
    margin-left: 2%;
    padding: 1.5em 5em;
    cursor: pointer;
    border-radius: 8px;
}

#after-intro-button1 a, #after-intro-button2 a {
    color: white;
    text-decoration: none;
}

#after-intro-button1:hover, #after-intro-button2:hover {
    border: 1px solid white;
    transition: 0.5s;
    background-color: rgb(61, 61, 175);
}


